
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="section-title">Liste des logements</span>
      </h3>

      <div class="accomodation_details">
        <table>
          <tr class="accomodations-titles">
            <th>Nom logement</th>
            <th>Distance</th>
            <th>Adresse</th>
            <th>Détails</th>
            <th>Réservation</th>
          </tr>
        <% @accomodations.each do |acc| %>
          <tr class="accomodations-row">
            <td><%= acc.name %></td>
            <td class="text-center"><%="#{acc.distance} km"%></td>
            <td><%= acc.location%></td>
            <td>
              <% case acc.category %>
                <% when "camping"%>
                  <%= "Sous la tente" %>
                <% when "amis"%>
                  <%= "Chez des amis" %>
                <% when "hotel"%>
                  <%= "Acceuil payant" %>
                <% else %>
              <% end %>
            </td>
            <td>
              <% case acc.category %>
                <% when "camping"%>
                  <%= link_to "Valider sa tente", wedding_path(@wedding) %>
                <% when "amis"%>
                  <%= link_to "Demander à être logé", wedding_path(@wedding)%>
                <% when "hotel"%>
                  <%= link_to "Réserver sur le site", acc.contact_website, target: "_blank" %>
                <% else %>
              <% end %>
            </td>

            <!-- <td>
              <ul class="list-unstyled">
                <% if acc.contact_email? %><li><i class="fa fa-envelope"></i><%= acc.contact_email%></li> <%end%>
                <% if acc.contact_phone? %><li><i class="fa fa-phone"></i><%= acc.contact_phone%></li> <%end%>
                <% if acc.contact_website? %>
                  <li><a href=<%="#{acc.contact_website}"%> target = "_blank"  ><%="site web" if acc.contact_website? %></a></li>
                <%end%>
              </ul>
            </td> -->
          </tr>
          <% end %>
        </table>

      </div>
      <div class="links">
        <a href="http://www.lequipe.fr">Lien l'equipe</a>
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>
