
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="section-title">Liste des logements</span>
      </h3>
      <p class="text-center"> En réservant un gîte ou hôtel, pensez bien à dire que vous venez pour notre mariage.</p>

      <div class="accomodation_details">
        <table>
          <tr class="accomodations-titles">
            <th>Nom</th>
            <th>Distance</th>
            <th>Adresse</th>
            <th>Détails</th>
            <th>Réservation</th>
            <% if policy(@wedding).edit? %>
              <th>Inscrits</th>
            <% end %>
          </tr>
        <% @accomodations.each do |acc| %>
          <tr class="accomodations-row">
            <td><%= acc.name %></td>
            <td class="text-center"><%="#{acc.distance} km"%></td>
            <td><%= acc.location%></td>
            <td>
              <% case acc.category %>
                <% when "camping"%>
                  <%= "Sous la tente" %>
                <% when "amis"%>
                  <%= "Chez des amis" %>
                <% when "hotel"%>
                  <%= "Acceuil payant" %>
                <% when "home"%>
                  <%= "A domicile" %>
                <% else %>
              <% end %>
            </td>
            <td>
              <% if acc.is_complete? %>
                <div id="complete">
                  <ul class="list-unstyled">
                    <li>Logement complet !</li>
                  </ul>
                </div>
              <% else %>
                <% if policy(@wedding).edit? %>
                  <% case acc.category %>
                    <% when "camping" %>
                      <%= link_to "Complet ?",  edit_wedding_accomodation_path(@wedding, acc) %>
                    <% when "home" %>
                      <%= link_to "Complet ?",  edit_wedding_accomodation_path(@wedding, acc) %>
                    <% when "amis" %>
                      <%= link_to "Complet ?", edit_wedding_accomodation_path(@wedding, acc) %>
                    <% when "hotel" %>
                    <ul class="list-unstyled">
                      <li><%= link_to "Complet ?", edit_wedding_accomodation_path(@wedding, acc) %></li>
                      <li><%= link_to "Site web",  acc.contact_website, target: "_blank" %></li>
                  <% end%>
                <% else %>
                  <% case acc.category %>
                    <% when "camping"%>
                      <%= link_to "Valider sa tente", new_wedding_accomodation_accomodation_request_path(@wedding, acc) %>
                    <% when "home"%>
                      <%= link_to "Je dors chez moi", new_wedding_accomodation_accomodation_request_path(@wedding, acc) %>
                    <% when "amis"%>
                      <%= link_to "Demander à être logé", new_wedding_accomodation_accomodation_request_path(@wedding, acc) %>
                    <% when "hotel"%>
                    <ul class="list-unstyled">
                      <li><%= link_to "Réserver sur le site", acc.contact_website, target: "_blank" %></li>
                      <li><%= link_to "Confirmer la réservation", new_wedding_accomodation_accomodation_request_path(@wedding, acc) %></li>
                    </ul>
                    <% else %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <% if policy(@wedding).edit? %>
              <td>
                <div class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" ><%= acc.nb_of_guests %></a>
                    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu accomodation-guest-list">
                      <% acc.guest_list.each do |guest_name| %>
                        <li><%= guest_name %></li>
                      <% end %>
                    </ul>
                </div>
              </td>
            <% end %>
          </tr>
          <% end %>
        </table>

      </div>
      <div class="links">
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>
