
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="section-title">Liste des logements</span>
      </h3>

      <div class="accomodation_details">
        <table>
          <tr class="accomodations-titles">
            <th>Nom logement</th>
            <th>Personne à contacter</th>
            <th>Adresse</th>
            <th>Coordonées</th>
            <th>S'inscrire</th>
          </tr>
        <% @accomodations.each do |acc| %>
          <tr class="accomodations-row">
            <td><%= acc.name %></td>
            <td><%= acc.contact_name %></td>
            <td><%= acc.location%></td>
            <td>
              <ul class="list-unstyled">
                <li><%= acc.contact_email if acc.contact_email?%></li>
                <li><%= acc.contact_phone if acc.contact_phone? %></li>
                <li><a href=<%="#{acc.contact_website}"%> ><%="site web" if acc.contact_website? %></a></li>
              </ul>
            </td>
            <td><%= acc.complete? ? "Complet !" : "S'inscrire" %></td>
          </tr>
          <% end %>
        </table>

      </div>
      <div class="links">
        <a href="http://www.lequipe.fr">Lien l'equipe</a>
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>
