<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="section-title">Liste des logements</span>
      </h3>
      <p class="text-center"> Voici quelques logements possibles pour le jour J.</p>
      <div class="accomodation_details">
        <table>
          <tr class="accomodations-titles">
            <th>Nom</th>
            <th>Distance</th>
            <th>Adresse</th>
            <th>Détails</th>
            <th>Réservation</th>
          </tr>
        <% @accomodations.each do |acc| %>
          <tr class="accomodations-row">
            <td><%= acc.name %></td>
            <td class="text-center"><%="#{acc.distance} km"%></td>
            <td><%= acc.location%></td>
            <td>
              <% case acc.category %>
                <% when "camping"%>
                  Sous la tente
                <% when "amis"%>
                  Chez des amis
                <% when "hotel"%>
                  Hotel / chambre d'hôtes
              <% end %>
            </td>
            <td>
              <%= link_to "Site web",  acc.contact_website, target: "_blank" %>
            </td>
          </tr>
          <% end %>
        </table>

      </div>
      <div class="links">
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>
