<div class="container">
  <% if @services.any? && !policy(@wedding).edit? %>
    <p>
      Vous avez choisi
      <% if @services.count > 1 %>
        <%= @services.count %> services,
      <% else %>
        <%= @services.count %> service,
      <% end %>
      merci !
    </p>
    <div class="fullblock">
      <% if @services.any? %>
        <div class="col-xs-12 task-details">
          <% @guests.each do |guest| %>
            <h4><%= guest.name %> :</h4>
            <% if guest.service %>
              <div class="service-card">
                <div class="service-description">
                  <%= guest.service.description %>
                </div>

                <div class="service-details">
                  <ul>
                    <li>
                      <%= icon("far", "calendar") %>
                      <%= day_to_display guest.service.week_day %>
                    </li>
                    <li>
                      <%= icon("far", "clock") %>
                      <%= guest.service.schedule %>
                    </li>
                    <li>
                      <%= icon("fas", "map-marker-alt") %>
                      <%= guest.service.location %>
                    </li>
                  </ul>
                </div>

                <% if guest.service.is_service_complete? %>
                  <div class="service-registrations complete">
                    <ul>
                      <li>Service complet !</li>
                      <div class="dropdown">
                        <a href="" class="dropdown-toggle" id="service-registration-guests-list" data-toggle="dropdown">
                          <% if guest.service.guests.count > 2 %>
                            <%="#{guest.service.guests.count - 1} autres volontaires"%>
                          <% else %>
                            <%="#{guest.service.guests.count - 1} autre volontaire"%>
                          <% end %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                          <% guest.service.guests.each do |other_guest| %>
                            <% next if guest == other_guest %>
                            <li>
                              <%= "#{other_guest.registry.group_name.capitalize}, #{other_guest.name}" %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </ul>
                  </div>
                <% else %>
                  <div class="service-registrations">
                    <ul>
                      <li><%= "déjà #{guest.service.guests.count} volontaires,"%></li>
                      <li>
                        <% if guest.service.remaining_places_count > 1 %>
                          <%= "il reste #{guest.service.remaining_places_count} places." %>
                        <% else %>
                          <%= "il reste #{guest.service.remaining_places_count} place." %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% end %>
                <div class="service-links">
                  <ul>
                    <li>
                      <%= link_to wedding_task_path(@wedding, guest.service.task) do %>
                        <%= icon("far", "envelope") %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% else %>
              <p>Pas encore de service ?</p>
              <p>
                <%= link_to wedding_tasks_path(@wedding), class: "button service-button" do %>
                  Voir la liste
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class=links>
    <%= link_to t("links.back"), wedding_path(@wedding), class: "back-link" %>
  </div>
</div>
