<div class="messages-form">
  <%= simple_form_for([@wedding, @message]) do |f| %>
    <%= f.input :resource_id, as: :hidden, input_html: { value: resource.id } %>
    <%= f.input :resource_type, as: :hidden, input_html: { value: resource.class.name } %>
    <%= f.input :content, label: t("task.new_message"), placeholder: t("task.type_here"), as: :text %>
    <%= f.button :submit, "Poster" %>
  <% end %>
</div>

<div class="messages-list" id="scrollzone">
 <% @messages.each do |m| %>
    <div class="message-wrapper <%= m.css_class %>">
      <div class="message frame">
        <div class="message-body">
          <p><%= m.content %></p>
        </div>
        <div class="message-name">
          <p>
            par
            <%= m.author %>
          </p>
          <p><%=m.created_at.strftime('le %m/%d, à %H:%M')%></p>
        </div>
        <div class="message-picture">
          <%= avatar_for m.user, width: 45, height: 45, crop: :thumb, gravity: :face,  class: "avatar" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
