<div class="messages-form">
  <%= render 'messages/form-new', wedding: @wedding, task: @task, message: @message %>
</div>

<div class="messages-block" id="scrollzone">
 <% @messages.each do |m| %>
    <div class="message-wrapper <%=  m.user == m.task.wedding.user ? 'wedder' : 'invited'   %> ">
      <div class="message frame">
        <div class="message-body">
          <p><%= m.content %></p>
        </div>
        <div class="message-name">
          <p>par <%= m.user == m.task.wedding.user ? "#{@wedding.user.first_name.capitalize} et #{@wedding.spouse_first_name}"  : "#{m.user.first_name}" %></p>
          <p><%=m.created_at.strftime('le %m/%d, à %H:%M')%></p>
        </div>
        <div class="message-picture">
          <%= avatar_for m.user, width: 45, height: 45, crop: :thumb, gravity: :face,  class: "avatar" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


