<div class="container">
  <div class="links">
    <%= link_to t("links.back"), wedding_path(@wedding) %>
  </div>

  <div class="tasks-bloc">
    <div class="text-center">
      <h3>
        <span class="section-title">Inscriptions aux services</span>
      </h3>
      <% if policy(@wedding).edit? %>
        <p>
          Ici, la liste des services proposés à vos invités, rangés par catégorie.
        </p>
      <% else %>
        <p>
          Ci-dessous, la liste des services pour lesquels on a besoin de votre aide, rangés par catégorie.
          <br>
          Si vous êtes partant pour participer le jour J, MERCI de choisir un de services proposés !
        </p>
      <% end %>
    </div>

    <div class= tasklist>
      <ul class="tasks">
        <div class="row extra-width">
          <% @wedding.tasks.with_service.each do |task| %>
            <%= link_to wedding_task_path(@wedding, task) do %>
              <div class="col-xs-6 cos-sm-3 col-md-2">
                <li class="task">
                  <div class="taskname button">
                    <strong> <%= task.name %> </strong>
                    <div class="tasknotification">
                      <%= task.required_guests_quantity_to_display %>
                      <% if policy(@wedding).edit? %>
                        <%= task.unread_messages_count_to_display %>
                      <% end %>
                    </div>
                  </div>
                </li>
              </div>
            <% end %>
          <% end %>
        </div>
      </ul>
      <% if policy(@wedding).edit? && @wedding.tasks.without_service.any?  %>
        <div class="text-center">
          Il manque encore des services pour les catégories suivantes. Cliquer dessus pour en ajouter.
        </div>
        <ul class="tasks">
          <div class="row extra-width">
            <% @wedding.tasks.without_service.each do |task| %>
              <%= link_to wedding_task_path(@wedding, task) do %>
                <div class="col-xs-6 cos-sm-3 col-md-2">
                  <li class="task">
                    <div class="taskname button">
                      <strong> <%= task.name %> </strong>
                    </div>
                  </li>
                </div>
              <% end %>
            <% end %>
          </div>
        </ul>
      <% end %>
    </div>

    <div class="text-center">
      <% if policy(@wedding).edit? %>
        <%= simple_form_for([@wedding, @task]) do |f| %>
          <%= f.input :name, label: "Pour ajouter une catégorie :" %>

          <%= f.submit "Créer une nouvelle catégorie", class: "button maxwidth" %>
        <% end %>

      <% else %>
        <p>Psst... Pour choisir son service, on peut voir les autre inscrits, leurs messages et leurs photos avant de s'inscrire soi-même ;)</p>
      <% end %>
    </div>
  </div>
</div>
