<div class="container">
  <h3 class="text-center">
    <span class="section-title"><%= @task.name %></span>
  </h3>

  <div class="fullblock">
    <div class="statut">
      <p>
        <% if @task.statut %>
          <i class="fa fa-check"></i>
        <% else %>
          <i class="fa fa-hourglass-half"></i>
        <% end %>

        <%= @task.statut ? t("task.done") : t("task.not_done") %>

        <% if policy(@wedding).edit? %>
          <% if @task.statut %>
            <%= link_to t("task.unmark"), edit_wedding_task_path(@wedding, @task) %>
          <% else %>
            <%= link_to t("task.mark"), edit_wedding_task_path(@wedding, @task) %>
          <% end %>
        <% end %>
      </p>
    </div>

    <% if policy(@wedding).edit? %>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h4><%= t("task.list")%></h4>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h4><%= t("task.add_service")%></h4>
        </div>
      </div>
    <% end %>


    <div class="row">
      <% if policy(@wedding).edit? %>
        <div class="col-xs-12 col-sm-8">
          <div class="leftblock bloc">
            <div class="row">
              <div class="col-xs-12 task-details">
                <ul>
                  <% @services.each do |service| %>
                    <li>
                      <% if service.capacity? & service.appointment? %>
                        <%= "#{service.name}, pour #{service.capacity} personnes, créneau: #{service.appointment}." %>
                      <% else %>
                        <%= "#{service.name}" %>
                      <% end %>
                      <%= link_to wedding_task_path(@wedding, @task) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_path(@wedding, @task) do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="rightblock bloc">
             <%= render 'services/form-service', wedding: @wedding, task: @task, service: @service %>
          </div>
        </div>
        <div class="col-xs-12 discussion">
          <h4><%= t("task.comments")%></h4>
          <div class="downblock bloc invited-height-block">
            <%= render 'messages/messages-content' %>
          </div>
        </div>
      <% else %>
       <div class="col-xs-12 task-details">
        <h4><%= t("task.list")%></h4>
          <div class="rightblock bloc invited-height-block">
            <ul>
            <% @services.each do |service| %>
              <li>
                <div class="service-card">
                  <div class="service-description">
                    <%= service.details %>
                  </div>
                  <div class="service-details">
                    <ul>
                      <li><%= icon('calendar') %><%= service.day %></li>
                      <li><i class="fa fa-clock-o"></i>
<%= service.appointment %></li>
                      <li><%= icon('map-marker') %><%= service.location %></li>

                    </ul>
                  </div>
                  <div class="service-registrations">
                    <ul>
                      <li><%= service.is_service_complete? ? "Service complet" : "Reste #{service.capacity - service.guests.count} place" %> </li>
                      <li><%= "#{service.guests.count} inscrits"%></li>
                    </ul>
                  </div>
                  <div class="service-registrate">
                    <div class="dropdown">
                      <% if policy(@wedding).edit? %>
                        <a href="#">Modifier</a>
                      <% else %>
                        <a href="" class="dropdown-toggle" id="service-registration-guests-list" data-toggle="dropdown"> Inscription </a>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                          <%= simple_form_for([@wedding, @task, service]) do |f| %>
                            <%= f.association :guests, collection: @list_guests_adults_without_service, as: :check_boxes %>
                            <%= f.button :submit %>
                          <% end %>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 discussion">
          <h4><%= t("task.messages") %></h4>
          <div class="leftblock bloc invited-height-block">
            <%= render 'messages/messages-content' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class=links>
      <%= link_to t("links.back"), wedding_path(@wedding), class: "back-link" %>
      <%= link_to t("links.destroy"), wedding_task_path(@wedding, @task), method: :delete, data: { confirm: t("links.confirmation") } %>
    </div>
  </div>
</div>


