<div class="container">
  <h3 class="text-center">
    <span class="section-title"><%= @task.name %></span>
  </h3>

  <div class="links padding-down">
    <%= link_to t("links.back"), wedding_tasks_path(@wedding), class: "back-link" %>
    <%= link_to t("links.back_to_wedding"), wedding_path(@wedding), class: "back-link" %>
    <% if policy(@wedding).edit? %>
      <%= link_to t("links.destroy"), wedding_task_path(@wedding, @task), method: :delete, data: { confirm: t("links.confirmation") } %>
    <% end %>
  </div>

  <div class="fullblock">
    <div class="statut">
      <% if @services.any? %>
        <p>
          <% if @task.statut %>
            <%= icon("far", "check") %>
          <% else %>
            <%= icon("fa", "hourglass-half") %>
          <% end %>

          <%= @task.statut ? t("task.done") : t("task.not_done") %>

          <% if policy(@wedding).edit? %>
            <% if @task.statut %>
              <%= link_to t("task.unmark"), edit_wedding_task_path(@wedding, @task) %>
            <% else %>
              <%= link_to t("task.mark"), edit_wedding_task_path(@wedding, @task) %>
            <% end %>
            <%= link_to "| Ajouter un service", new_wedding_task_service_path(@wedding, @task)%>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="row">
      <!-- Vu par les mariés -->
      <% if policy(@wedding).edit? %>
        <% if @services.any? %>
          <div class="col-xs-12 task-details">
          <h4><%= t("task.list")%></h4>
            <div class="rightblock bloc">
              <ul>
              <% @services.each do |service| %>
                <li>
                  <div class="service-card">
                    <div class="service-description">
                      <%= service.description %>
                    </div>
                    <div class="service-details">
                      <ul>
                        <li>
                          <%= icon("far", "calendar") %>
                          <%= day_to_display service.week_day %>
                        </li>
                        <li>
                          <%= icon("far", "clock") %>
                          <%= service.schedule %>
                        </li>
                        <li>
                          <%= icon("fas", "map-marker-alt") %>
                          <%= service.location %>
                        </li>
                        <li>
                          <%= link_to edit_wedding_task_service_path(@wedding, @task, service) do%>
                            <%= icon("far", "edit") %>
                            Modifier
                          <% end %>
                        </li>
                      </ul>
                    </div>

                    <% if service.is_service_complete? %>
                      <div class="service-registrations complete">
                        <ul>
                          <li>Service complet !</li>
                          <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="service-registration-guests-list" data-toggle="dropdown"><%= "#{service.guests.count} inscrits !"%></a>
                            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                              <% service.guests.each do |guest| %>
                                <li><%= "#{guest.registry.group_name.capitalize}, #{guest.name} " %></li>
                              <% end %>
                            </ul>
                          </div>
                        </ul>
                      </div>
                    <% else %>
                      <div class="service-registrations">
                        <ul>
                          <li><%= "#{service.remaining_places_count} place(s)" %></li>
                          <li>
                            <div class="dropdown">
                              <a href="" class="dropdown-toggle" data-toggle="dropdown" ><%= "#{service.guests.count} inscrits"%></a>
                              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                                <% service.guests.each do |guest| %>
                                  <li><%= "#{guest.registry.group_name.capitalize}, #{guest.name} " %></li>
                                <% end %>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="col-xs-12 discussion">
          <h4>On échange ?</h4>
          <div class="downblock bloc">
            <%= render "messages/messages-box", resource: @task %>
          </div>
        </div>

      <% else %>
      <!-- Vue par les invités -->
        <% if @services.any? %>
          <div class="col-xs-12 task-details">
            <h4><%= t("task.list")%></h4>
            <div class="rightblock bloc">
              <ul>
                <% @services.each do |service| %>
                  <li>
                    <div class="service-card">
                      <div class="service-description">
                        <%= service.description %>
                      </div>
                      <div class="service-details">
                      <ul>
                        <li>
                          <%= icon("far", "calendar") %>
                          <%= day_to_display service.week_day %>
                        </li>
                        <li>
                          <%= icon("far", "clock") %>
                          <%= service.schedule %>
                        </li>
                        <li>
                          <%= icon("fas", "map-marker-alt") %>
                          <%= service.location %>
                        </li>
                      </ul>
                    </div>
                      <% if service.is_service_complete? %>
                        <div class="service-registrations complete">
                          <ul>
                            <li>Service complet !</li>
                          </ul>
                        </div>
                        <div class="service-links">
                          <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="service-registration-guests-list" data-toggle="dropdown"><%= "#{service.guests.count} inscrits !"%></a>
                            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                              <% service.guests.each do |guest| %>
                                <li><%= "#{guest.registry.group_name.capitalize}, #{guest.name} " %></li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      <% else %>
                        <div class="service-registrations">
                          <ul>
                            <li><%= "#{service.remaining_places_count} place(s)" %></li>
                            <li>
                              <div class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" ><%= "#{service.guests.count} inscrits"%></a>
                                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                                  <% service.guests.each do |guest| %>
                                    <li><%= "#{guest.registry.group_name.capitalize}, #{guest.name} " %></li>
                                  <% end %>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="service-links">
                          <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="service-registration-guests-list" data-toggle="dropdown"> Inscription </a>
                            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                              <%= simple_form_for([@wedding, @task, service]) do |f| %>
                                <%= f.association :guests, collection: @guests_without_service, as: :check_boxes %>
                                <%= f.button :submit %>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="col-xs-12 discussion">
          <h4><%= t("task.messages") %></h4>
          <p>On échange ?</p>
          <div class="downblock bloc">
            <%= render "messages/messages-box", resource: @task %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
