<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="section-title">Liste des demandes</span>
      </h3>

      <div class="accomodation_details">
        <table>
          <tr class="accomodations-titles">
            <th>Nom logement</th>
            <th>Coordonnées</th>
            <th>Demandé par :</th>
            <th>Pour :</th>
            <th>Le :</th>
            <th>Actions</th>
          </tr>
        <% @accomodations_pending_requests.each do |request| %>
          <% acc = request.accomodation %>
          <% reg = request.registry %>
          <tr class="accomodations-row">
            <td><%= acc.name %></td>
            <td>
              <ul class="list-unstyled">
                <% if acc.contact_email? %><li><i class="fa fa-envelope"></i><%= acc.contact_email%></li> <%end%>
                <% if acc.contact_phone? %><li><i class="fa fa-phone"></i><%= acc.contact_phone%></li> <%end%>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li><%= reg.group_name %></li>
                <li><%= reg.guests.first.name %></li>
              </td>
            <td class="text-center"><%= " #{reg.guests.count} personnes, dont #{reg.guests.where(child: true).count} enfant(s)" %></td>
            <td> <%= request.created_at.strftime(" %d/%m/%Y ")%> </td>
            <td>
              <ul class="list-unstyled">
                <li><%= link_to "Accepter", edit_wedding_accomodation_request_path(@wedding, request) %></li>
                <li><%= link_to "Refuser",  wedding_accomodation_request_path(@wedding, request), method: :delete, data: { confirm: "Supprimer cette demande" } %></li>
              </ul>
            </td>

            <!-- <td>

            </td> -->
          </tr>
          <% end %>
        </table>

      </div>
      <div class="links">
        <a href="http://www.lequipe.fr">Lien l'equipe</a>
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>
