<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "icon.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user.weddings.empty? %>
        <%= link_to t("navbar.my_wedding"),  new_wedding_path , class: "navbar-wagon-item navbar-wagon-link" %>
      <% else %>
        <%= link_to wedding_path(current_user.weddings.future.last), class: "navbar-wagon-item navbar-wagon-link" do %>
            <i class="fa fa-hourglass-half"></i>
            <%= t("navbar.my_wedding") %>
        <% end %>
      <% end %>

      <div class="dropdown">
        <a href="" class="navbar-wagon-link dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"><%= t("navbar.invitations") %></a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if current_user.registries.exists? %>
            <li>
              <% current_user.registries.each do |reg| %>
                <%= link_to wedding_path(reg.wedding) do %> <i class="fa fa-hourglass-half"></i>
                  <%= reg.wedding.user.first_name %> & <%= reg.wedding.spouse_first_name %>
                <% end %>
              <% end %>
            </li>
          <% else %>
            <li>
              <i class="fa fa-times"><a class="ddtext"><%= t("navbar.no_wedding")%></a></i>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= avatar_for current_user, width: 45, height: 45, crop: :thumb, gravity: :face,  class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to users_profile_path do %>
                <i class="fa fa-user"></i>
                <%= t("navbar.profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path,  method: :delete, data: { confirm: t("navbar.log_out_confirm")}  do %>
                <i class="fa fa-sign-out"></i>
                <%= t("navbar.log_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t("navbar.login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t("navbar.sign_up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

      <% if user_signed_in? %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to users_profile_path do %>
              <i class="fa fa-user"></i>
              <%= t("navbar.profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path,  method: :delete, data: { confirm: t("navbar.log_out_confirm")}  do %>
              <i class="fa fa-sign-out"></i>
              <%= t("navbar.log_out") %>
            <% end %>
          </li>
          <% if current_user.weddings.empty? %>
            <li><%= link_to "? #{t("navbar.my_wedding")} ?",  new_wedding_path %></li>
          <% else %>
            <li>
              <%= link_to wedding_path(current_user.weddings.future.last) do %>
                <i class="fa fa-hourglass-half"></i>
                <%= t("navbar.my_wedding") %>
              <% end %>
            </li>
          <% end %>
          <% unless current_user.registries.empty? %>
            <li><span class="navbar-wagon-item navbar-wagon-link"><%= "#{t("navbar.invitations")} : " %></span>
              <ul class="navbar-wagon-dropdown-menu">
                <% current_user.registries.each do |reg| %>
                  <li>
                    <%= link_to wedding_path(reg.wedding) do %>
                      <i class="fa fa-hourglass-half"></i>
                      <%= reg.wedding.user.first_name %> & <%= reg.wedding.spouse_first_name %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t("navbar.login"), new_user_session_path %></li>
          <li><%= link_to t("navbar.sign_up"), new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

