<h1>Ciao carissima,</h1>

<p>Une nouvelle demande de logement chez des amis a été faite via notre site de mariage</p>

<p>Détail :</p>
<ul>
  <li>Logement : </li>
  <li> <%= @accomodation.name %></li>
  <li> - mail : <%= @accomodation.contact_email if @accomodation.contact_email? %></li>
  <li> - telephone : <%= @accomodation.contact_phone if @accomodation.contact_phone? %></li>
  <li></li>
  <li>Demande :</li>
  <li>Faite par : <%= @registry.group_name %> <%= @registry.guests.first.name %></li>
  <li>Pour : <%= " #{@registry.guests.count} personnes, dont #{@registry.guests.where(child: true).count} enfant(s)" %></li>
  <li>Le :  <%= @accomodation_request.created_at.strftime(" %d/%m/%Y ") %></li>
</ul>

<p> Tu peux retrouver cette demande de logements, avec les autres en cours, sur cette page : </p>

<%= link_to "Voir les demandes", wedding_accomodation_requests_url(@wedding), class: "button button-show"%>

<p> Je t'aime !</p>


