<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

<div class="home-page">
  <div class="parallax">
    <div class="banner-gradiant-shadow">
      <div class="phrase">
        <%= t(:"home.baseline") %>
      </div>
    </div>
  </div>
  <div class="paddded-tb">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="feature">
            <div class="feature-icon">
              <%= icon("fas", "heart") %>
            </div>
            <div class="title">
              <h3><%= t("home.getting_married")%></h3>
            </div>
            <div class="description">
                <%= t("home.getting_married_description") %>
                <br>
                <br>
                <ul>
                  <li><%= t("home.getting_married_l1")%></li>
                  <li><%= t("home.getting_married_l2")%></li>
                  <li><%= t("home.getting_married_l3")%></li>
                  <li><%= t("home.getting_married_l4")%></li>
                </ul>
            </div>
            <%= link_to t("home.getting_married_create"), new_wedding_path, class: "button" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="feature">
            <div class="feature-icon">
              <%= icon("fas", "envelope") %>
            </div>
            <div class="title">
              <h3><%= t("home.guest") %></h3>
            </div>
            <div class="description">
              <%= t("home.guest_description") %>
              <br>
              <br>
              <ul>
                <li><%= t("home.guest_l1") %></li>
                <li><%= t("home.guest_l2") %></li>
                <li><%= t("home.guest_l3") %></li>
                <li><%= t("home.guest_l4") %></li>
              </ul>
            </div>
            <%= link_to t("home.guest_sign_up"), users_profile_path ,class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="addmargin">
    <h3><span class="section-title"><%= t("home.contact_form_title")%></span></h3>
  </div>

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= simple_form_for(@question) do |f|%>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <%= f.input :name %>
              </div>
              <div class="col-md-6 col-sm-12">
                <%= f.input :email %>
              </div>
            </div>
            <div class="row marged-top">
              <div class="col-xs-12">
                <%= f.input :message , as: :text%>
                <%= f.button :submit, class: "button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
