<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="profile-description">
      <div class="profile-details">
        <div class="profile-name">
          <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
        </div>
        <div class="profile-weddings-infos">
          <div class="profile-wedding-org">
            <span><%= current_user.weddings.future.count %></span>
              <p> mariage organisé</p>
              <p> <span class="links no-padding"> <%= link_to "#{current_user.weddings.last.first_name_1} & #{current_user.weddings.last.first_name_2}", wedding_path(current_user.weddings.last) unless current_user.weddings.empty? %>

              </span></p>
          </div>
          <div class="profile-memories">
            <span><%= current_user.registries.exists? ? current_user.registries.count : 0 %></span>
            <% if current_user.registries.exists? %>
              <ul class="list-unstyled">
                <li><p>invitation(s) :</p></li>
                <li class="links no-padding">
                  <% current_user.registries.each do |reg| %>
                    <%= link_to wedding_path(reg.wedding) do %> <i class="fa fa-hourglass-half"></i>
                      <%= reg.wedding.first_name_1 %> & <%= reg.wedding.user.first_name %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <p>invitation ...</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="links">
        <%= link_to t("links.home"), root_path %>
        <%= link_to t("links.edit"), edit_user_registration_path %>
      </div>
    </div>
  </div>
</div>
