<div class="guest-content">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="guest-email">
        <p><%= @registry.group_name %></p>
      </div>
      <div class="guest_details">
        <table>
          <tr>
            <th><%= t("wedding.guest_list.name") %></th>
            <th><%= t("wedding.guest_list.statut") %></th>
          </tr>
          <% @registry.guests.each do |guest| %>
            <tr>
              <td><%= guest.name %></td>
              <td><%= presence_for(guest.presence) %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <% if current_user[:id] == @wedding[:user_id] %>
        <div class="links">
          <%= link_to t("wedding.guest_list.list"), wedding_registries_path(@wedding) %>
          <%= link_to t("links.edit"), edit_wedding_registry_path(@wedding, @registry) %>
          <%= link_to t("links.back_to_wedding"), wedding_path(@wedding) %>
        </div>
      <% elsif current_user[:id] == @registry[:user_id] %>
        <div class="links">
          <%= link_to t("links.modify_answer"), edit_wedding_registry_path(@wedding, @registry) %>
          <%= link_to t("links.back_to_wedding"), wedding_path(@wedding)%>
        </div>
      <% end %>
    </div>
  </div>
</div>
