<h4><%= t("wedding.guest_list.edit")%></h4>


  <%= simple_form_for([@wedding, @registry]) do |f| %>
    <%= f.input :group_name, required: true %>
    <%= f.input :email, required: true, disabled: true %>

    <p><%= t("wedding.guest.members_of_this_group")%> :</p>
    <%= f.simple_fields_for :guests do |guest_f|  %>
      <div class="nested-fields">
        <div class="row">
          <div class="col-xs-8">
            <div class="form-inline">
              <%= guest_f.input :name, label: false, disabled: true %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-inline">
              <%= guest_f.input :presence %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-address">

      <%= f.input :address %>
      <div class="form-adress-inline">
        <div class="col-xs-6">
          <%= f.input :zipcode %>
        </div>
        <div class="col-xs-6">
          <%= f.input :city %>
        </div>
      </div>

    </div>


    <div class="form-actions">
      <%= f.button :submit, t("links.validate") %>

    </div>

  <% end %>


