<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3 class="text-center">
        <span class="section-title"><%= t("wedding.guest_list.title") %></span>
      </h3>

      <% if policy(@wedding).edit? %>

        <div class="guest-email">
          <p>Liste des invitations</p>
        </div>

      <% end %>

      <div class="guest_details">
        <table>
            <tr>
              <th><%= t("wedding.guest_list.group") %></th>
              <th><%= t("wedding.guest_list.number_of_guests") %></th>
              <th><%= t("wedding.guest_list.action") %></th>
            </tr>
        <% @registries.each do |reg| %>
          <tr class="guests-row">
            <td><%= reg.group_name %></td>
            <td class="text-center"><%= reg.guests.length %> </td>
            <td>
              <div class="links" id="no-margin">
                  <%= link_to t("links.show"), wedding_registry_path(@wedding, reg) %>
                  <%= link_to t("links.edit"), edit_wedding_registry_path(@wedding, reg) %>
                  <%= link_to t("links.destroy"), wedding_registry_path(@wedding, reg), method: :delete, data: { confirm: t("links.confirmation") } %>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="links">
        <%= link_to t("wedding.guest_list.add"), new_wedding_registry_path(@wedding) %>
        <%= link_to t("links.back"), wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>




