<div class="4-blocs">
  <h2 class="text-center"><span class="section-title">Pour valider votre venue</span></h2>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="wedding-bloc invitations">
        <h3 class="text-center">
          <span class="section-title"><%= t("wedding.blocs.bloc-registry")%></span>
        </h3>
        <ul class="bloc-list">
          <li><%= @registry.guests.count%> <%=(@registry.guests.count > 1) ? "personnes invitées" : "personne invitée"%> </li>
          <li>dont <%= @registry.guests.where(child: true).count %> enfant <%= "s" if @registry.guests.where(child: true).count > 1%> </li>
          <li> <%= @registry.guests.where(presence: true).count %> <%= "réponse#{"s" if @registry.guests.where(presence: true).count > 1} OUI"%> </li>
        </ul>
        <div class="button-container">
          <%= link_to t("wedding.guest.go_to_registry"), wedding_registry_path(@wedding, @registry), class: "button button-show" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="wedding-bloc task">
        <h3 class="text-center">
          <span class="section-title"><%= t("wedding.blocs.bloc-task")%></span>
         </h3>
         <ul class="bloc-list">
          <% if @registry.services.count == 0 %>
            <li>Merci de choisir <%= @registry.guests.where(presence: true, child: false).count %> services </li>
          <% elsif @registry.services.count == @registry.guests.where(presence: true, child: false).count %>
            <li>Vous avez choisi tous vos services... Merci !</li>
          <% else %>
            <li><%= @registry.services.count %> service(s) sur <%= @registry.guests.where(presence: true, child: false).count %> </li>
            <li>Encore un effort SVP</li>
          <% end %>
        </ul>
        <div class="button-container">
          <%= link_to "Voir liste", wedding_tasks_path(@wedding), class: "button button-show" %>
          <% unless @registry.services.count == 0 %>
            <%= link_to "Vos services", wedding_services_path(@wedding), class: "button button-show" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="wedding-bloc accomodations">
        <h3 class="text-center">
          <span class="section-title"><%= t("wedding.blocs.bloc-accomodations")%></span>
        </h3>
        <ul class="bloc-list">
          <p>
            Pour faciliter votre venue, voici une liste des logements possibles.
            <br>
            N'hésitez pas à nous tenir au courant si vous avez des bons plans à partager,
            ou besoin d'aide en particulier.
          </p>
        </ul>
        <div class="button-container">
          <%= link_to "Liste des logements", wedding_accomodations_path(@wedding), class: "button button-show" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="wedding-bloc vegetable">
        <h3 class="text-center">
          <span class="section-title"><%= t("wedding.blocs.bloc-vegetable") %></span>
        </h3>
        <ul class="bloc-list">
          <% if @registry.vegetable_ids.empty? %>
            <li>Chacun est invité à préparer un plat végétal, à publier ici</li>
          <% else %>
            <li>Merci d'avoir déjà annoncé votre entrée :</li>
            <li><b><%= @registry.vegetables.last.name.capitalize %> !</b></li>
          <% end %>
        </ul>
        <div class="button-container">
          <%= link_to "Voir liste", wedding_vegetables_path(@wedding), class: "button button-show" %>
          <%= link_to "Nouvelle entrée", new_wedding_registry_vegetable_path(@wedding, @registry), class: "button button-show" %>
        </div>
      </div>
    </div>
  </div>
</div>

