<% if policy(@wedding).edit? %>
  <%= render "wedder-tab" %>
<% else %>
  <%= render "guest-tab" %>
<% end %>

<div class="container">
  <%= render "wedding-description" %>
  <% if policy(@wedding).edit? %>
    <%= render "wedder-blocks" %>
  <% else %>
    <%= render "guest-blocks" %>
  <% end %>
  <div class="tasks-bloc" id="task-discussion-container">
    <%= render "discussions", wedding: @wedding %>
  </div>
</div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(13);
        }
      });
    <% end %>
  <% end %>
