<% if policy(@wedding).edit? %>
  <%= render "wedder-tab" %>
<% else %>
  <%=render "guest-tab" %>
<% end %>


<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 height-to-500px">
      <div class="wedding-informations">
        <div class="spouse-photo">
          <% if @wedding.spouse_photo? %>
            <%= cl_image_tag @wedding.spouse_photo.path, width: 130, height: 130, crop: :thumb, gravity: :center %>
          <% end %>
        </div>
        <div class="details">
          <ul>
            <li class="primary"><%= icon('heart') %><%= @wedding.user.first_name %> & <%= @wedding.spouse_first_name %></li>
            <li class="secondary"><%= icon('calendar') %><%= @wedding.date %></li>
            <li class="secondary"><%= icon('map-marker') %><%= @wedding.location %></li>
          </ul>
        </div>
      </div>
      <div class="wedding-description">
        <blockquote>
          <%= @wedding.description %>
          <p>Nous voudrions que notre mariage soit une épopée dont nous serions tous les héros. C'est la raison pour laquelle nous invitons chacun d'entre vous à être acteur de notre mariage, dès samedi 14h !<br/> Services, surprises, animations, préparatifs, cusine... tous les moyens sont bons pour que vous preniez possession de ces trois jours, qui resteront gravés dans nos mémoires ! </p>
          <p>Au programme : <br/>Samedi : 10h installation >> 14h café >> 15h préparatifs >> 16h vin d'honneur >> 17h répétition des chants >> 17h30 messe >> 19h procession festive >> 20h cocktail, dîner, soirée <br/>
          Dimanche : brunch, activités ludiques et naturelles, courses d'orientation et jardinage,  puis dîner et soirée <br/>
          Lundi : rangement festif, et "envoi" après le déjeuner !
          </p>
        </blockquote>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 min-height-for-map">
      <div class="info-wedding-location">
        <div id="map" style="height: 520px;"></div>
      </div>
    </div>
  </div>


  <% if policy(@wedding).edit? %>
  <!-- Vue du mariage par les mariés -->
    <div class="4-blocs">
      <h2 class="text-center"><span class="section-title">4 blocs :</span></h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc invitations">
            <h3 class="text-center">
            <span class="section-title"><%= t("wedding.blocs.bloc-registry")%></span>
            </h3>

            <ul class="bloc-list">
              <li>Nombre d'invitations : <%= @wedding.registries.count %> </li>
              <li>Nombre d'invités : <%= @wedding.guests.count %> </li>
              <li>Nombre d'invités ayant répondu : <%= @wedding.guests.where(presence: true).count + @wedding.guests.where(presence: false).count %>  </li>
              <li>Nombre d'invités ayant répondu oui : <%= @wedding.guests.where(presence: true).count %>  </li>
              <li>(dont : <%= @wedding.guests.where(presence: true).where(child: true).count %> enfants)</li>
            <ul>
            <div class="button-container">
              <%= link_to t("wedding.guest_list.add"), new_wedding_registry_path(@wedding), class: "button button-show" %>
              <%= link_to t("wedding.guest_list.list"), wedding_registries_path(@wedding), class: "button button-show"%>
              <% # link_to "Import Excel", wedding_path(@wedding), data: { confirm: "Attention, vous allez supprimer toutes les invitations déja existantes... Continuer ?" } ,class: "button button-show" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc tasks">
            <h3 class="text-center">
            <span class="section-title"><%= t("wedding.blocs.bloc-task")%></span>
            </h3>
              <ul class="bloc-list">
                <li>Nombre de services proposés : <%= @wedding.services_count %></li>
                <li>Nombre d'invités inscrits   : <%= @wedding.nb_of_guests_registred_to_a_service_count %></li>
                <li>Nombre de services complets : <%= @wedding.complete_services_count %> </li>
                <li>Nombre d'invités nécessaire : <%= @wedding.guests_needed_for_service_count %>  </li>
              </ul>
              <div class="button-container">
                <%= link_to "Detail services", wedding_services_path(@wedding), class: "button button-show" %>
                <% # link_to t("task.initialize"), wedding_path(@wedding), data: { confirm: t("task.initialize-confirmation") } ,class: "button button-show" %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc accomodations">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-accomodations")%></span>
            </h3>
            <ul class="bloc-list">
              <li>Nombre de logements proposés: <%= @wedding.accomodations.count %></li>
              <li>Nombre d'invités inscrits aux logements : <%= @wedding.nb_of_guests_with_accomodation_count %>  </li>
              <li>Nombre de logements complets : <%= @wedding.accomodations.where(complete: true).count %></li>
              <li>Nombre de demandes d'hebergements à traiter : <%= @wedding.accomodation_requests.where(statut: false).count %></li>
            </ul>
              <!-- <div id="map" style="height: 250px;"></div> -->
              <div class="button-container">
                <%= link_to "Liste logements",  wedding_accomodations_path(@wedding), class: "button button-show" %>
                <%= link_to "Liste demandes", wedding_accomodation_requests_path(@wedding), class: "button button-show" %>
                <% # link_to "Import Excel", wedding_path(@wedding),  data: { confirm: t("task.initialize-accomodations-confirmation") }, class: "button button-show" %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc vegetable">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-vegetable") %></span>
            </h3>
            <ul class="bloc-list">
              <li>Déjà <%= @wedding.vegetables.count %> entrées préparées</li>
            </ul>
            <div class="button-container">
              <%= link_to "Voir liste entrées", wedding_vegetables_path(@wedding), class: "button button-show" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>
  <!-- Page du mariage vue pour l'invité -->


    <div class="4-blocs">
      <h3 class="text-center">4 étapes à compléter pour valider votre inscription :</h3>
      <div class="row">
      <div class="row">
        <div class="col-xs-12 col-md-6">
           <div class="wedding-bloc invitations">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-registry")%></span>
            </h3>
              <ul class="bloc-list">
                <li><%= @registry.guests.count%> <%=(@registry.guests.count > 1) ? "personnes invitées" : "personne invitée"%> </li>
                <li>dont <%= @registry.guests.where(child: true).count %> enfant <%= "s" if @registry.guests.where(child: true).count > 1%> </li>
                <li> <%= @registry.guests.where(presence: true).count %> <%= "réponse#{"s" if @registry.guests.where(presence: true).count > 1} OUI"%> </li>
              </ul>
              <div class="button-container">
                <%= link_to t("wedding.guest.go_to_registry"), wedding_registry_path(@wedding, @registry), class: "button button-show" %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc task">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-task")%></span>
             </h3>
             <ul class="bloc-list">

              <% if @registry.services.count == 0 %>

                <li>Ah ! Choisir son service... quelle belle occasion de mettre ses talents à contribution !</li>
                <li>Pour chaque catégorie, il y a plusieurs services, avec heure, lieu, co-équipiers... et echange de messages !</li>
                <li>Pour votre groupe, choisissez <%= @registry.guests.where(presence: true, child: false).count %> service(s)</li>
                <li>Attention, on ne peut pas se desinscrire d'un service : choissez-bien !</li>

              <% elsif @registry.services.count == @registry.guests.where(presence: true, child: false).count %>

                <li>Vous avez choisi tous vos services... Merci !</li>
                <li>Vous pouvez continuer à poster et lire des messages sur chacun des services.</li>
                <li>On a hâte !</li>

              <% else %>
                <li>Vous avez déjà choisi <%= @registry.services.count %> service(s) sur <%= @registry.guests.where(presence: true, child: false).count %> </li>
                <li>Merci !</li>
                <li>Encore un peu d'inspiration pour les derniers services ? Lisez...</li>
                <li>Des questions à vous poser ? Ecrivez..</li>
                <li>Ca y est ? Inscrivez.</li>
              <% end %>
            </ul>
            <div class="button-container">
              <a class="button button-show" href="#task-discussion-container">Liste des services</a>
            <% unless @registry.services.count == 0 %>
              <%= link_to "Vos services", wedding_services_path(@wedding), class: "button button-show" %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc accomodations">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-accomodations")%></span>
            </h3>
            <ul class="bloc-list">
              <% if !@registry.accomodation_request_ids.empty? %>
                <% accomodation = @registry.accomodation_requests.last.accomodation %>
                <% if @registry.accomodation_requests.last.statut %>

                  <li>Votre logement est bien reservé.</li>
                  <% case accomodation.category %>
                    <% when "camping"%>
                      <li>Vous avez prévu de camper,</li>
                      <li>Vous pourrez planter la tente le samedi après midi, après le café et avant la cérémonie.</li>
                      <li>Pensez à la tente, et un bon duvet</li>
                    <% when "amis"%>
                      <li>Demande acceptée !</li>
                      <li>Vous irez dormir chez des amis à nous,</li>
                      <li>à savoir : <%= accomodation.name %>,</li>
                      <li>L'adresse : <%= accomodation.location %>,</li>
                      <li>A <%= accomodation.distance %> km du lieu de la fête (à peu près)...</li>
                      <li>Merci qui ?</li>
                    <% when "hotel"%>
                      <li>Vous avez prévu de dormir à l'hôtel,</li>
                      <li>A savoir : <%= accomodation.name %>,</li>
                      <li>Parfait !</li>
                      <li>Prudence sur la route ;)</li>
                    <% when "home"%>
                      <li>Vous avez prévus de rentrer dormir chez vous,</li>
                      <li>Parfait ! et ...</li>
                      <li>Prudence sur la route ;)</li>
                    <% else %>
                      <li></li>
                  <% end %>

                <% else %>

                  <li>Merci d'avoir demandé à être acceuilli chez des amis</li>
                  <li>à savoir : <%= accomodation.name %></li>
                  <li>Demande en attente de confirmation</li>
                  <li>Nous sommes en train de voir avec eux, on revient vers vous</li>

                <% end %>

              <% else %>

                  <li>Vous n'avez pas encore choisi (ou confirmé) votre logement.</li>
                  <li>Nous avons recensé des lieux d'accueil près de Pontigny :</li>
                  <li>* des amis qui nous prêtent des chambres,</li>
                  <li>* des hôtels,</li>
                  <li>* un champ pour camper...</li>
              <% end%>
            </ul>
            <div class="button-container">
              <% if @registry.accomodation_request_ids.empty? %>
                <%= link_to "Liste des logements", wedding_accomodations_path(@wedding), class: "button button-show" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc vegetable">
            <h3 class="text-center">
              <span class="section-title"><%= t("wedding.blocs.bloc-vegetable") %></span>
            </h3>

            <ul class="bloc-list">
              <% if @registry.vegetable_ids.empty? %>
                <li>Chacun est invité à préparer un plat végétal, que nous mangerons lors du cocktail ou comme entrée.</li>
                <li>Alors, à vos légumes, à vos bocaux, c'est parti !</li>
                <li>En postant ici une description de votre plat, vous donnerez envie et inspiration...</li>
              <% else %>
                <li>Merci d'avoir déjà annoncé votre entrée :</li>
                <li><b><%= @registry.vegetables.last.name.capitalize %> !</b></li>
                <li>Vous pourrez la confier à une équipe de service, dès le café d'accueil...</li>
                <li>On s'en lèche déjà les babines !</li>
              <% end %>
            </ul>

            <div class="button-container">
              <%= link_to "Voir liste", wedding_vegetables_path(@wedding), class: "button button-show" %>
              <%= link_to "Nouvelle entrée", new_wedding_registry_vegetable_path(@wedding, @registry), class: "button button-show" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10);
        }
      });
    <% end %>
  <% end %>

<div class="tasks-bloc" id="task-discussion-container">
  <%= render 'tasks/tasks', wedding: @wedding %>
</div>

</div>


<div class= "links">
  <p>
    <% if policy(@wedding).edit? %>
      <%= link_to t("links.edit"), edit_wedding_path(@wedding) %>
    <% end %>
    <% if policy(@wedding).destroy? %>
      <%= link_to t("links.destroy"), @wedding, method: :delete, data: { confirm: t("links.confirmation") } %>
    <% end %>
    <%= link_to t("links.back"), root_path %>
  </p>
</div>

