<% if policy(@wedding).edit? %>
  <%= render "wedder-tab" %>
<% else %>
  <%=render "guest-tab" %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="wedding-informations">
        <div class="spouse-photo">
          <% if @wedding.spouse_photo? %>
            <%= cl_image_tag @wedding.spouse_photo.path, width: 130, height: 130, crop: :thumb, gravity: :center %>
          <% end %>
        </div>
        <div class="details">
          <ul>
            <li class="primary"><%= icon('heart') %><%= @wedding.user.first_name %> & <%= @wedding.spouse_first_name %></li>
            <li class="secondary"><%= icon('calendar') %><%= @wedding.date %></li>
            <li class="secondary"><%= icon('map-marker') %><%= @wedding.location %></li>
          </ul>
        </div>
      </div>
      <div class="wedding-description">
        <blockquote>
          <%= @wedding.description %>
        </blockquote>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="info-wedding-location">
       <!--  <%= cl_image_tag @wedding.photo.path, width: 300, height: 400, crop: :thumb, gravity: :center %> -->
        <!-- <div id="map" style="height: 400px;"></div> -->
      </div>
    </div>
  </div>


  <% if policy(@wedding).edit? %>
  <!-- Vue du mariage par les mariés -->
    <div class="4-blocs">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc invitations">
            <h3 class="text-center">
            <span class="section-title"><%= t("wedding.guest_list.title")%></span>
            </h3>
            <p>Nombre d'invitations : 250 </p>
            <p>Nombre de réponses positives : 133 </p>
            <p>Nombre de réponses en attente : 117 </p>
            <%= link_to t("wedding.guest_list.add"), new_wedding_registry_path(@wedding), class: "button button-show" %>
            <%= link_to t("wedding.guest_list.list"), wedding_registries_path(@wedding), class: "button button-show"%>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc accomodations">
            <h3 class="text-center">
            <span class="section-title">Bloc services</span>
            </h3>
            <p>Nombre de services proposés : 154 </p>
            <p>Nombre de services pourvus : 133 </p>
            <p>Nombre de services vacants : 21 </p>
            <%= link_to "Detail services", wedding_path(@wedding), class: "button button-show" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc trips">
            <h3 class="text-center">
            <span class="section-title">Bloc logements</span>
              <div id="map" style="height: 250px;"></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc tasks">
            <h3 class="text-center">
            <span class="section-title">Bloc trajets</span>
             <%= image_tag "https://www.blablacar.com/images/blablacar-ridesharing-logo.png", width: 400 %>
             <%= image_tag "https://www.oui.sncf/sites/all/modules/custom_addons/vsct_feature_canvas/theme/dist/img/oui-sncf.svg", width:350 %>
          </div>
        </div>
      </div>
    </div>


  <% else %>
  <!-- Page du mariage vue pour l'invité -->

    <div class="4-blocs">
      <div class="row">
        <div class="col-xs-12 col-md-6">
           <div class="wedding-bloc invitations">
            <h3 class="text-center">
            <span class="section-title"><%= t("wedding.guest.your_invitation")%></span>
            </h3>
              <% if @wedding.registries.where(user: current_user).present? & !policy(@wedding).edit? %>
                <% @registry = @wedding.registries.find_by(user: current_user) %>
                <ul class="guest-recap">
                  <li><%=  @registry.guests.count %> personnes invitées</li>
                  <li>dont 2 enfants</li>
                  <li> <%= @registry.guests.where(presence: true).count %> réponses OUI </li>
                </ul>
                <%= link_to t("wedding.guest.go_to_registry"), wedding_registry_path(@wedding, @registry), class: "button button-show" %>
              <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc accomodations">
            <h3 class="text-center">
            <span class="section-title">Bloc services</span>

          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc trips">
            <h3 class="text-center">
            <span class="section-title">Bloc logements</span>

          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="wedding-bloc tasks">
            <h3 class="text-center">
            <span class="section-title">Bloc trajets</span>

          </div>
        </div>

      </div>
    </div>
  <% end %>


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10);
        }
      });
    <% end %>
  <% end %>
</div>


  <%= render 'tasks/tasks', wedding: @wedding %>


<div class= "links">
  <p>
    <% if policy(@wedding).edit? %>
      <%= link_to t("links.edit"), edit_wedding_path(@wedding) %>
    <% end %>
    <% if policy(@wedding).destroy? %>
      <%= link_to t("links.destroy"), @wedding, method: :delete, data: { confirm: t("links.confirmation") } %>
    <% end %>
    <%= link_to t("links.back"), root_path %>
  </p>
</div>

